:root {
  --primary-bg: #1b1f26;
  --primary-bg-light: #fff;

  --primary-divider: #111111;

  --primary-font: #fff;
  --font-white: #fff;

  --select-color: #fff;

  --primary-alt: #1f242c;

  --select-hover: #1f242c;

  --accent: rgb(34, 26, 26);
  --accent-hover: #fff;

  --info: #21bbb3;
  --info-hover: #2aeee4;

  --highlight: #21bbb3;
  --highlight-hover: brightness(120%);

  --badge-bg: #21bbb333;
  --badge-font: #21bbb3;

  --card-bg: #1f242c;
  --card-border: #1f242c;

  --table-color: #fff;

  --team-icon: #fff;
  --team-icon-bg: #2f333a;
  --team-border: #2f333a;

  --parallax-bg: #14171c;

  --about-icon-color: #fff;
  --about-icon-bg: #24282f;

  --input-color: #008a81;
  --input-bg: #14171c;
  --input-border: #008a81;
  --input-autofill-color: #008a81;
  --input-autofill-bg: #008a81;

  --modal-background: rgba(255, 255, 255, 0.1);
  --background-track-price: transparent;
}
:root {
  --primary-bg: #1b1f26;
  --primary-bg-light: #fff;

  --primary-divider: #111111;

  --primary-font: #fff;
  --font-white: #fff;

  --select-color: #fff;

  --primary-alt: #1f242c;

  --select-hover: #1f242c;

  --accent: rgb(34, 26, 26);
  --accent-hover: #fff;

  --info: #21bbb3;
  --info-hover: #2aeee4;

  --highlight: #21bbb3;
  --highlight-hover: brightness(120%);

  --badge-bg: #21bbb333;
  --badge-font: #21bbb3;

  --card-bg: #1f242c;
  --card-border: #1f242c;

  --table-color: #fff;

  --team-icon: #fff;
  --team-icon-bg: #2f333a;
  --team-border: #2f333a;

  --parallax-bg: #14171c;

  --about-icon-color: #fff;
  --about-icon-bg: #24282f;

  --input-color: #008a81;
  --input-bg: #14171c;
  --input-border: #008a81;
  --input-autofill-color: #008a81;
  --input-autofill-bg: #008a81;

  --modal-background: rgba(255, 255, 255, 0.1);
  --background-track-price: transparent;
}
:root {
  --primary-bg: #1b1f26;
  --primary-bg-light: #fff;

  --primary-divider: #111111;

  --primary-font: #fff;
  --font-white: #fff;

  --select-color: #fff;

  --primary-alt: #1f242c;

  --select-hover: #1f242c;

  --accent: rgb(34, 26, 26);
  --accent-hover: #fff;

  --info: #21bbb3;
  --info-hover: #2aeee4;

  --highlight: #21bbb3;
  --highlight-hover: brightness(120%);

  --badge-bg: #21bbb333;
  --badge-font: #21bbb3;

  --card-bg: #1f242c;
  --card-border: #1f242c;

  --table-color: #fff;

  --team-icon: #fff;
  --team-icon-bg: #2f333a;
  --team-border: #2f333a;

  --parallax-bg: #14171c;

  --about-icon-color: #fff;
  --about-icon-bg: #24282f;

  --input-color: #008a81;
  --input-bg: #14171c;
  --input-border: #008a81;
  --input-autofill-color: #008a81;
  --input-autofill-bg: #008a81;

  --modal-background: rgba(255, 255, 255, 0.1);
  --background-track-price: transparent;
}
